<button
  routerLink="./auth"
  class="badge bg-primary mx-3 mt-3 border-light rounded btn-tall"
>
  Authentication
</button>
<button
  routerLink="./dashboard"
  class="badge bg-secondary mx-3 mt-3 border-light rounded btn-tall"
>
  DashBoard
</button>
<button
  routerLink="./villages"
  class="badge bg-success mx-3 mt-3 border-light rounded btn-tall"
>
  Villages
</button>
<button
  routerLink="./reports"
  class="badge bg-danger mx-3 mt-3 border-light rounded btn-tall"
>
  Reports
</button>

<router-outlet></router-outlet>
<br />
<h2>Main app is running</h2>
